<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
  </head>
  <body>
    <header>
    {% block header %} 
    {% endblock %}
    </header>
    <br>
    {% block sidebar %}
    {% endblock %}
    <main>
    {% block message %}
    {% endblock %}
    </main>
    <footer>
      
    </footer>
  </body>
</html> 