{% extends 'homepage.html'%}
{% block title %}
    GetMySecret
{% endblock %}
{% block header %}
    <image class="logo_totvs" src="{{url_for('static', filename='images/logo_totvs.png')}}"></image>
{% endblock %}
{% block sidebar %}
    <div class="sidenav">
        <a href="#"></a> 
    </div>
{% endblock %}
{% block message %}
    <fieldset class="content">
        <div>
            <h2>!GetMySecret!</h2>
        </div>
        <div>
            <div>
                
            </div>
            <label>
                <input type="text" id="message" name="Message"></input>
                <input type="submit"></input>
            </label>
        </div>
    </fieldset>
{% endblock %}