body {
  background-color: rgb(31, 30, 30);
}

/*----------------------------------------------------------------------------*/

.logo_totvs {
  width: 150px;
  display: block;
  margin: 0px auto;
}

/*----------------------------------------------------------------------------*/

/* Estilo da barra lateral */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  background-color: #111;
}

/* Links da barra lateral */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Mudança de cor dos links com hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/*----------------------------------------------------------------------------*/

/* Estilo da campo de mensagens */
.content {
  border-style: none;
  margin-left: 200px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #ddd;
  text-align: center;
}

#message {
  border-radius: 10px;
  border-style: double;
}